---
layout: default
---

<div class="home">
  <p>
    My name is Johnny Reina. I'm from Lubbock, TX. Currently working as a senior
    software engineer at
    <a href="https://safebase.io" target="_blank">SafeBase</a>! My primary
    interests (at the moment) are software architecture, information security,
    and a bit of hardware hacking. I spend most of my time working in TypeScript
    nowadays building REST APIs with Next and UIs in React. In the past I've
    primarily worked in C# and C++. In my off time I occasionally write Haskell
    and ATS, experimenting with parsers and implementing various type systems.
  </p>
  <p>
    Despite how much I time I spend dealing with software, I am first and
    foremost a huge math nerd. I spend a lot of time learning about and
    experimenting with different areas of pure math, e.g. category theory and
    homotopy type theory.
  </p>
  <p>
    Outside of software and math, I enjoy playing and learning about chess (<a
      href="https://lichess.org/@/johnnyreina"
      target="_blank"
      >challenge me!</a
    >), storm chasing, making (and eating) barbecue, skateboarding, working on
    cars, riding my motorcycle, drinking coffee, and brewing beer.
  </p>
  <p>
    I try to write about the things I know and the things I am learning as much
    as I can. If there's something you want me to write about, feel free to hit
    me up on
    <a href="https://twitter.com/johnny_reina" target="_blank">Twitter</a>. You
    can see the things I've written about on my <a href="/blog">blog</a>
  </p>
</div>
