---
layout: default
---

<div class="home">
  <p>
    My name is Johnny Reina. I'm from Lubbock, TX. Currently working as a senior
    software engineer at
    <a href="https://www.respondent.io" target="_blank">Respondent.io</a>. I
    code a lot. My primary interests are category theory, type theory,
    type-level programming, and information security. I spend most of my time
    working in TypeScript nowadays building REST APIs with Express and UIs in
    React. In the past I've primarily worked in C# and C++. In my off time I
    write Haskell and ATS, experimenting with parsers and implementing various
    type systems.
  </p>
  <p>
    I dedicate a lot of time to mentorship, teaching, and tutoring on the
    subjects of programming principles, and various areas of math. I'm currently
    developing a full course covering programming fundamentals from the very
    basics all the way to conventions, design patterns, and proper
    documentation.
  </p>
  <p>
    Outside of software and math, I enjoy playing and learning about chess (<a
      href="https://lichess.org/@/johnnyreina"
      target="_blank"
      >challenge me!</a
    >), making (and eating) barbecue, skateboarding, working on cars, riding my
    motorcycle, drinking coffee, and brewing beer.
  </p>
  <p>
    I try to write about the things I know and the things I am learning as much
    as I can. If there's something you want me to write about, feel free to hit
    me up on
    <a href="https://twitter.com/johnny_reina" target="_blank">Twitter</a>. You
    can see the things I've written about on my <a href="/blog">blog</a>
  </p>
</div>
